# MUTRITION DATASET AURREPROZESAKETA

In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv('epi_r.csv')

In [2]:
data.head()

,title,rating,calories,protein,fat,sodium,#cakeweek,#wasteless,22-minute meals,3-ingredient recipes,...,yellow squash,yogurt,yonkers,yuca,zucchini,cookbooks,leftovers,snack,snack week,turkey
0,"Lentil, Apple, and Turkey Wrap",2.500,426.0,30.0,7.0,559.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,Boudin Blanc Terrine with Red Onion Confit,4.375,403.0,18.0,23.0,1439.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Potato and Fennel Soup Hodge,3.750,165.0,6.0,7.0,165.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Mahi-Mahi in Tomato Olive Sauce,5.000,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Spinach Noodle Casserole,3.125,547.0,20.0,32.0,452.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Buscar y eliminar datos duplicados.

In [3]:
dups = data.duplicated()
print('Number of duplicate rows = %d' % (dups.sum()))

print('Number of rows before discarding duplicates = %d' % (data.shape[0]))
data = data.drop_duplicates()
print('Number of rows after discarding duplicates = %d' % (data.shape[0]))

Number of duplicate rows = 1801
Number of rows before discarding duplicates = 20052
Number of rows after discarding duplicates = 18251

Tratamiento de los NaNs.

In [4]:
#pd.set_option('display.max_columns', 500)
#pd.set_option("display.max_rows", None)
data.isnull().sum()

title            0
rating           0
calories      3749
protein       3781
fat           3801
              ...
cookbooks        0
leftovers        0
snack            0
snack week       0
turkey           0
Length: 680, dtype: int64

Borramos las filas que no tengan calorias.

In [5]:
data = data[data['calories'].notna()]

In [6]:
data.isnull().sum()

title          0
rating         0
calories       0
protein       32
fat           52
              ..
cookbooks      0
leftovers      0
snack          0
snack week     0
turkey         0
Length: 680, dtype: int64

Al borrar los NaNs de calorias podemos ver que la mayoria de NaNs se han ido. Esto se debe a que no eran recetas.

Ahora, almacenaremos en otra variable los NaNs restantes de proteinas, y veremos que contienen.

In [7]:
nulls=data[data['protein'].isnull()]
nulls

,title,rating,calories,protein,fat,sodium,#cakeweek,#wasteless,22-minute meals,3-ingredient recipes,...,yellow squash,yogurt,yonkers,yuca,zucchini,cookbooks,leftovers,snack,snack week,turkey
285,Salted Water for Boiling,3.750,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
793,Mint Julep,5.000,122.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1479,Cashew Milk and Cashew Flour,0.000,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2954,Ginger Stinger or White Way,0.000,164.0,NaN,0.0,6.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3336,Simple Syrup,2.500,129.0,NaN,NaN,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3640,Bourbon Burnt Sugar Sauce,3.750,449.0,NaN,NaN,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3910,Bunny Hug or Earthquake,0.000,256.0,NaN,NaN,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4300,Simple Syrup,5.000,194.0,NaN,NaN,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4567,Homemade Baking Powder,4.375,23.0,NaN,NaN,1892.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4811,Simple Syrup,5.000,129.0,NaN,NaN,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6580,Hot Gin Toddy,0.000,165.0,NaN,NaN,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7068,"Gin, Tea, and Lemon Fizz",5.000,104.0,NaN,0.0,15.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8958,Simple Syrup,0.000,145.0,NaN,NaN,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9096,Simple Syrup,4.375,129.0,NaN,NaN,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9125,No-Cook Simple Syrup,1.250,149.0,NaN,NaN,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9939,Basic Simple Syrup,0.000,129.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10146,Sweet Tea,5.000,97.0,NaN,NaN,16.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10183,Jasmine Tea Sorbet,3.750,113.0,NaN,NaN,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10712,Liberty,0.000,75.0,NaN,NaN,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10832,Pink Gin,0.000,153.0,NaN,NaN,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11470,Simple Syrup II,0.000,145.0,NaN,NaN,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13406,Fish Brine,0.000,12.0,NaN,NaN,1436.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14600,Ulanda,0.000,163.0,NaN,NaN,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14898,Ladyfinger,0.000,149.0,NaN,NaN,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16157,Simple Syrup,0.000,129.0,NaN,NaN,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16658,Simple Syrup,0.000,145.0,NaN,NaN,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16771,Simple Syrup III,3.750,129.0,NaN,NaN,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16874,Between the Sheets,5.000,196.0,NaN,NaN,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16972,Pernod Cocktail,4.375,135.0,NaN,NaN,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18059,Maiden's Blush No.ii,0.000,178.0,NaN,NaN,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18191,Simple Syrup,0.000,194.0,NaN,NaN,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18960,Ruby Blazer,0.000,129.0,NaN,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Viendo el resultado, hemos visto que la mayorÃ­a eran recetas que no nos interesan. Como 5 Simple Syropes, que encima tenian 0 calorias. Debido a esto tambien borraremos estos datos.

In [8]:
data = data[data['protein'].notna()]
data.isnull().sum()

title          0
rating         0
calories       0
protein        0
fat           23
              ..
cookbooks      0
leftovers      0
snack          0
snack week     0
turkey         0
Length: 680, dtype: int64

Vemos que ahora qudan unos pocos NaNs en "fat". AsÃ­ que miraremos su contenido.

In [9]:
nulls=data[data['fat'].isnull()]
nulls

,title,rating,calories,protein,fat,sodium,#cakeweek,#wasteless,22-minute meals,3-ingredient recipes,...,yellow squash,yogurt,yonkers,yuca,zucchini,cookbooks,leftovers,snack,snack week,turkey
1654,Piccadilly,0.000,134.0,0.0,NaN,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2008,Manhattan II,3.750,121.0,0.0,NaN,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2080,Sherry Vinegar Syrup,4.375,74.0,0.0,NaN,6.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2236,Simple Japanese White Rice,5.000,380.0,6.0,NaN,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2601,Negroni,5.000,163.0,0.0,NaN,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3046,Bushranger,0.000,132.0,0.0,NaN,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6099,Homemade Red Wine Vinegar,0.000,158.0,0.0,NaN,14.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6298,Queen's Peg,0.000,195.0,0.0,NaN,9.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8249,Royal,0.000,159.0,0.0,NaN,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10564,Hasty,0.000,130.0,0.0,NaN,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10609,Peggy,0.000,132.0,0.0,NaN,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11421,Beer Americano,0.000,170.0,0.0,NaN,6.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11950,Thistle,0.000,138.0,0.0,NaN,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12323,Elegant,0.000,102.0,0.0,NaN,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13214,Perfect Bourbon Manhattans,5.000,168.0,0.0,NaN,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13467,Adonis,0.000,25.0,0.0,NaN,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13967,The Manhattan,3.750,1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14113,Manhattan,3.125,168.0,0.0,NaN,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17028,El Presidente II,0.000,118.0,0.0,NaN,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17405,Sloe Gin,1.250,2.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18058,Flying Scotsman,0.000,145.0,0.0,NaN,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19176,Honey Syrup,3.750,86.0,0.0,NaN,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20000,Self-Starter,0.000,111.0,0.0,NaN,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Analizando el resultado, se observa que la mayorÃ­a son cocteles y mÃ¡s sirope. Y muchos de ellos tienen 0 proteinas. AsÃ­ que tambien los borraremos.

In [10]:
data = data[data['fat'].notna()]
data.isnull().sum()

title         0
rating        0
calories      0
protein       0
fat           0
             ..
cookbooks     0
leftovers     0
snack         0
snack week    0
turkey        0
Length: 680, dtype: int64

Finalmente nos queda un solo NaN en sodio, podemos ver que este tambien tiene 0 en protein y fat, y al ser encima una sola fila, la nborraremos tambien.

In [11]:
nulls=data[data['sodium'].isnull()]
nulls

,title,rating,calories,protein,fat,sodium,#cakeweek,#wasteless,22-minute meals,3-ingredient recipes,...,yellow squash,yogurt,yonkers,yuca,zucchini,cookbooks,leftovers,snack,snack week,turkey
686,To Toast and Skin Hazelnuts,3.75,4.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
data = data[data['sodium'].notna()]

Una vez limpiado los NaNs vamos a buscar filas que tengan 0 en los atributos fat, sodium, calories y proteinas.

In [13]:
zeros = data[data["calories"] == 0]
zeros

,title,rating,calories,protein,fat,sodium,#cakeweek,#wasteless,22-minute meals,3-ingredient recipes,...,yellow squash,yogurt,yonkers,yuca,zucchini,cookbooks,leftovers,snack,snack week,turkey
1674,Sriracha Salt,0.0,0.0,0.0,0.0,2391.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4848,To Clarify Butter,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6089,Dashi (Japanese Sea Stock),5.0,0.0,0.0,0.0,26.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6669,Tempering Chocolate,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9259,Spritz Wreaths,2.5,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Limpieza de datos

Hay 5 filas que no tienen calorias, no tiene sentido que una comida tenga 0 calorÃ­as, ademÃ¡s son pocas. Borraremos estas 5 filas.

In [14]:
data = data[data["calories"] != 0]
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14441 entries, 0 to 20051
Columns: 680 entries, title to turkey
dtypes: float64(679), object(1)
memory usage: 75.0+ MB

In [15]:
zerosProtein = data[data["protein"] == 0]
zerosProtein.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 683 entries, 27 to 20044
Columns: 680 entries, title to turkey
dtypes: float64(679), object(1)
memory usage: 3.5+ MB

In [16]:
zerosFat =  data[data["fat"] == 0]
zerosFat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1044 entries, 27 to 20044
Columns: 680 entries, title to turkey
dtypes: float64(679), object(1)
memory usage: 5.4+ MB

In [17]:
zeroAmbos = data[(data['fat'] == 0) & (data['protein'] == 0) ]
zeroAmbos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 480 entries, 27 to 20044
Columns: 680 entries, title to turkey
dtypes: float64(679), object(1)
memory usage: 2.5+ MB

In [18]:
zeroSodium = data[data["sodium"]==0]
zeroSodium.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38 entries, 27 to 19885
Columns: 680 entries, title to turkey
dtypes: float64(679), object(1)
memory usage: 202.2+ KB

Viendo los resultados hemos decidido borrar los que tengan sodio 0 y los que tengan 0 en proteinas y grasa a la vez, ya que estas filas no son recetas que nos interesan.

In [19]:
data.drop(zeroAmbos.index,axis=0, inplace=True)
#cargamos zerosodium otra vez porque si no da error porque algunos valores ya han sido borrados
zeroSodium = data[data["sodium"]==0]
data.drop(zeroSodium.index,axis=0, inplace=True)

Vamos a borrar las filas que contengan un 1 en las columnas drink y alcoholic.

In [20]:
bebidas=data[(data['alcoholic'] == 1) | (data['drink'] == 1) | (data['drinks'] == 1) | (data['cake'] == 1)]
bebidas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1024 entries, 12 to 19994
Columns: 680 entries, title to turkey
dtypes: float64(679), object(1)
memory usage: 5.3+ MB

In [21]:
data.drop(bebidas.index,axis=0, inplace=True)

# UnificaciÃ³n de columnas

Vamos a comprobar a ver si columnas como cheese y cheedar estan relacionadas.

In [22]:
cheeseColumns = data[['cheese','cheddar']]
cheeseColumns =  cheeseColumns[cheeseColumns['cheddar']==1]

In [23]:
cheeseColumns.head()

     cheese  cheddar
110     0.0      1.0
150     0.0      1.0
401     0.0      1.0
463     0.0      1.0
584     1.0      1.0

In [24]:
fruitColumns = data[['fruit','apple']]
fruitColumns =  fruitColumns[fruitColumns['apple']==1]

In [25]:
fruitColumns.head()

     fruit  apple
0      1.0    1.0
102    0.0    1.0
164    1.0    1.0
199    1.0    1.0
205    0.0    1.0

In [26]:
meat = data[['meat']]
meat =  meat[meat['meat']==1]
meat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 203 entries, 84 to 19873
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   meat    203 non-null    float64
dtypes: float64(1)
memory usage: 3.2 KB

No hay relacion entre las variables genericas y las especificas asÃ­ que crearemos unas columnas genericas y borraremos las demas.

In [27]:
def codificador(row, datos):
    columnas = datos.columns

    i = 0
    end = len(columnas)

    for c in columnas:
        if row[c] == 1:
            return 1
        i=i+1
        if i >= end:
            return 0

In [28]:
#resetear el index, recomendable para iterar
data = data.reset_index()
#creamos un dataframe vacio
dataFinal = pd.DataFrame()
dataFinal = pd.concat((dataFinal,data[['title', 'calories', 'protein', 'fat', 'sodium']]), axis=1)

Empezaremos por unificar las columnas que tienen que ver con si la receta tiene huevos o no, y crearemos una sola columna llamada "huevos" la cual aÃ±adiremos al nuevo DataFrame "dataFinal".

In [29]:
#definir columnas a unificar
columnas = ['egg','egg nog', 'eggplant', 'omelet', 'mayonnaise']

#crear un dataset solo con esas columnas
eggsDatos =  data[columnas]

#columnaEggs = codificador(eggsDatos)
#data['huevos'] = data.apply(columnaEggs, axis=1)
#data = pd.concat((data,columnaEggs), axis=1)

#aÃ±adimos al dataFrame final la columna huevos y le asociamos los valores que devuelva la funcion codificador
dataFinal['huevos']=data.apply(lambda row: codificador(row,eggsDatos), axis=1)

In [30]:
dataFinal.head()

,title,calories,protein,fat,sodium,huevos
0,"Lentil, Apple, and Turkey Wrap",426.0,30.0,7.0,559.0,0
1,Boudin Blanc Terrine with Red Onion Confit,403.0,18.0,23.0,1439.0,0
2,Potato and Fennel Soup Hodge,165.0,6.0,7.0,165.0,0
3,Spinach Noodle Casserole,547.0,20.0,32.0,452.0,0
4,The Best Blts,948.0,19.0,79.0,1042.0,0

Podemos ver que se ha creado correctamente un dataset unicamente con la columna "huevos" en la cual tiene los valores 1 o 0 dependiendo de si tiene o no huevos la receta.

In [31]:
#fruta
columnas = ['apple','apple juice','banana','cherry','coconut','fruit','fruit juice','grapefruit','kiwi','cranberry','cranberry sauce',
'macadamia nut','mango','melon','nectarine','orange','papaya','peach','pear','pineapple','plantain','plum','pomegranate','raspberry','strawberry',
'tamarind','tropical fruit','watermelon']
frutasDatos = data[columnas]
dataFinal['frutas'] = data.apply(lambda row: codificador(row,frutasDatos), axis=1)

#mariscos
columnas = ['lobster','mussel', 'octopus', 'oyster', 'salmon', 'sardine', 'seafood', 'shellfish', 'shrimp', 'swordfish', 'trout', 
'tuna', 'caviar','crab','clam', 'fish']
mariscosDatos = data[columnas]
dataFinal['marisco'] = data.apply(lambda row: codificador(row,mariscosDatos), axis=1)

#lacteos
columnas = ['macaroni and cheese','milk/cream', 'mozzarella', 'parmesan', 'ricotta', 'sour cream', 'swiss cheese', 'yogurt',
 'blue cheese', 'buttermilk', 'cheddar', 'cheese', 'cottage cheese','feta','goat cheese', 'cream cheese','custard']
lacteosDatos = data[columnas]
dataFinal['lacteos'] = data.apply(lambda row: codificador(row,lacteosDatos), axis=1)

#frutos secos
columnas = ['nut','nutmeg','peanut','peanut butter','pecan','pistachio','walnut', 'butternut squash','chestnut',
'dried fruit','hazelnut','cashew']
frutossecosDatos = data[columnas]
dataFinal['frutos secos'] = data.apply(lambda row: codificador(row,frutossecosDatos), axis=1)

#verduras
columnas = ['broccoli','broccoli rabe','carrot','celery','leek','mushroom','pea','poblano', 'potato','pumpkin','radicchio',
'radish','root vegetable','shallot','spinach','tomatillo','tomato','turnip']
verdurasDatos = data[columnas]
dataFinal['verduras'] = data.apply(lambda row: codificador(row,verdurasDatos), axis=1)  

#legymbres
columnas = ['chickpea','legume']
legumbresDatos = data[columnas]
dataFinal['legumbres'] = data.apply(lambda row: codificador(row,legumbresDatos), axis=1)

In [32]:
print(dataFinal)

                                             title  calories  protein   fat  \
0                  Lentil, Apple, and Turkey Wrap      426.0     30.0   7.0
1      Boudin Blanc Terrine with Red Onion Confit      403.0     18.0  23.0
2                    Potato and Fennel Soup Hodge      165.0      6.0   7.0
3                        Spinach Noodle Casserole      547.0     20.0  32.0
4                                   The Best Blts      948.0     19.0  79.0
...                                            ...       ...      ...   ...
12911                              Parmesan Puffs       28.0      2.0   2.0
12912              Artichoke and Parmesan Risotto      671.0     22.0  28.0
12913                       Turkey Cream Puff Pie      563.0     31.0  38.0
12914     Snapper on Angel Hair with Citrus Cream      631.0     45.0  24.0
12915  Baked Ham with Marmalade-Horseradish Glaze      560.0     73.0  10.0

       sodium  huevos  frutas  marisco  lacteos  frutos secos  verduras  \
0       559.0       0       1        0        0             0         1
1      1439.0       0       0        0        0             1         0
2       165.0       0       0        0        0             0         1
3       452.0       0       0        0        1             0         0
4      1042.0       0       0        0        0             0         1
...       ...     ...     ...      ...      ...           ...       ...
12911    64.0       1       0        0        1             0         0
12912   583.0       0       0        0        1             0         0
12913   652.0       0       0        0        0             0         0
12914   517.0       0       1        1        1             0         0
12915  3698.0       0       0        0        0             0         0

       legumbres
0              0
1              0
2              0
3              0
4              0
...          ...
12911          0
12912          0
12913          0
12914          0
12915          0

[12916 rows x 12 columns]

Guardar los datos limpios en un nuevo csv

In [33]:
dataFinal.to_csv('Recetas_procesadas.csv', index=False)

In [34]:
frutas =  dataFinal[dataFinal['frutas']==1]
print(frutas)

                                                  title  calories  protein  \
0                       Lentil, Apple, and Turkey Wrap      426.0     30.0
9                                        Peach Mustard      134.0      4.0
20                           Apricot-Cherry Shortcakes      311.0      5.0
31                        Citrus Salad with Mint Sugar      191.0      3.0
33                        Peanut Butter-Banana Muffins      275.0      6.0
...                                                 ...       ...      ...
12893  Stuffed Onions with Spiced Lamb and Pomegranate      411.0     13.0
12899               Cabbage Soup with Apples and Thyme      303.0     10.0
12902                      White Miso Peach/Pear/Apple      239.0      4.0
12904                3-Ingredient Caramel-Pear Galette      234.0      2.0
12914          Snapper on Angel Hair with Citrus Cream      631.0     45.0

        fat  sodium  huevos  frutas  marisco  lacteos  frutos secos  verduras  \
0       7.0   559.0       0       1        0        0             0         1
9       3.0  1394.0       0       1        0        0             0         0
20      5.0   226.0       0       1        0        0             0         0
31      1.0     4.0       0       1        0        0             0         0
33     13.0   242.0       0       1        0        0             0         0
...     ...     ...     ...     ...      ...      ...           ...       ...
12893  15.0   946.0       0       1        0        0             0         0
12899  15.0   139.0       0       1        0        0             0         0
12902  21.0   202.0       1       1        0        1             0         0
12904   7.0   213.0       0       1        0        0             0         0
12914  24.0   517.0       0       1        1        1             0         0

       legumbres
0              0
9              0
20             0
31             0
33             0
...          ...
12893          0
12899          0
12902          0
12904          0
12914          0

[2650 rows x 12 columns]